<html>
  <body>
    <h1>Contact Us</h1>

    <% form_tag "/contact_us_post" do %>
      <%= error_messages_for @message,
            header_message: "Please fill out required fields:" %>
      <p>
        Name
        <br>
        <%= text_field_tag "name", :value => @message.name %> 
      </p>
      <p>
        Email
        <br>
        <%= text_field_tag "email", :value => @message.email %>
      </p>
      <p>
        Message
        <br>
        <%= text_area_tag "message", :value => @message.message %>
      </p>
      <button>Send</button>
    <% end %>
  </body>
</html>
