<html>
  <head>
    <title><%= @title %></title>
    <style>
      label {
        width: 100px;
        float: left;
      }
      label[for=is_unused] {
        float: none;
      }
      .label-spacer {
        width: 100px;
        height: 1px;
        float: left;
      }
    </style>
  </head>
  <body>
    <h1><%= @title %></h1>

    <!-- TODO: fill in the rest of the fields here -->

  </body>
</html>
