<!DOCTYPE html>
  <head>
    <title>The Amazing Elements!</title>
  </head>
<body style="background-color:#c8c8c8">
  <h1 style="font-size:72px;font-family:Verdana;text-align:center;">THE AMAZING ELEMENTS!!</H1>
  <table border = "1">
      <tr>
        <th style="color:red;font-size:50px;">Element Name</th>
        <th style="color:red;font-size:50px;">Element Symbol</th>
        <th style="color:red;font-size:50px;">Atomic Number</th>
        <th style="color:red;font-size:50px;">Atomic Weight</th>
      </tr>
      <% for element in @elements %>
        <tr style="font-size:36px;text-align:center;">
          <td><%= element.name %></td>
          <td><p align="center"><%= element.symbol %></td>
          <td><p align="center"><%= element.atomic_number %></td>
          <td><p align="center"><%= element.atomic_weight %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>