<div style="float:right;width:300px">
  <form method="post" action="/login">
    <h2>Login</h2>
    <p>
      Username <input type="text" name="username" value="">
      <br>
      Password <input type="password" name="password" value="">
      <br>
      <button>Login</button>
    </p>
    <p>
      <a href="/users/new">Need to create an account?</a>
    </p>
  </form>
</div>

<h1>List of users</h1>
<ul>
  <% for user in @users %>
    <li><%= user.username %></li>
  <% end %>
</ul>
