<html>
  <body>
    <% form_tag("/logout") do %>
      You are logged in as <b><%= @property_admin.username %></b>.
      <%= submit_tag "logout", value: "Logout" %>
    <% end %>
    <hr>
    <%= yield %>
  </body>
</html>
