<html>
  <body>
    <h1>Admin login</h1>
    <form method="Post" action="/login">
    <p>
    Username
    <br>
    <input type="text" name="username">

    <p>
    Password
    <br>
    <input type="password" name="password">

    <p>
    <button>Login</button>
  </form>
  </body>
</html>
