<html>
  <head>
    <style>
      .flash-error { border: 2px red solid; }
    </style>
  </head>
  <body>
    <% if flash[:error] %>
      <div class='flash-error'>
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>