<form method="POST" action="/login">
  <h1>Car Share login</h1>

  Enter your username:<br>
  <input type="text" name="username" value="<%= @user.username %>"><br>

  Enter your password:<br>
  <input type="text" name="password"><br>

  <button>Login</button>
<<<<<<< HEAD
</form>
=======
</form>
>>>>>>> master
