<html>
  <head>
    <style>
      .flash-success { color: green; font-size: 72px;}
      .flash-error   { color: red; }
    </style>
  </head>
  <body>
    <% if flash[:success] %>
      <p class='flash-success'><%= flash[:success] %></p>
    <% end %>

    <% if flash[:error] %>
      <p class='flash-error'><%= flash[:error] %></p>
    <% end %>

    <form method="post" action="/login">
      <h2>Login</h2>
      <p>
        Username <input type="text" name="username" value="">
        <br>
        Password <input type="password" name="password" value="">
        <br>
        <button>Login</button>
      </p>
      <p>
        <a href="/users/new">Need to create an account?</a>
      </p>
    </div>
  </body>
</html>
