<p class='todo'>show any error messages in a < div class="error" >< / div ></p>

<p class='todo'>link back to the main screen (the / path)</p>

<p class='todo'>show the table number inside a < h1 >< / h1 ></p>

<p class='todo'>if the table is unoccupied, ask for the party size and
           show a button to reserve the table</p>

<p class='todo'>if the table is occupied, show their ordered menu items so far</p>
          
<p class='todo'>if the table is occupied, show the menu inside a list
           (just a < select multiple="multiple" > box)</p>

<p class='todo'>if the table is occupied, show one radio button for each chair</p>

<p class='todo'>if the table is occupied, show a button to Add Item To Order</p>

<p class='todo'>if the table is occupied, show a button to Close Out Order</p>
