<html>
  <body>
    <h1>U.S. Cities</h1>
    <table border='1'>
      <tr>
        <th>City Name</th>
      </tr>
      <% for city in @cities %>
        <tr>
          <td><%= city.name %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
